-#PAYMENT FORM
%form{class: "col s12", id: "payment-form", action: "/api/payments", method: "POST"}

  -#ERROR DISPLAY HANDLING
  .row
    .flex
      #payment-errors.flex.error-message

  -#CARD HOLDER NAME
  .row
    .flex.input-field.col.s12.m10.inner-cc-well
      %input{class: "card-holder-name", type: "text", id: "card-holder-name", autocomplete: "on"}
      %label{class: "cc-holder-field", for: "card-holder-name"}Name (as it appears on your card)

  -#CREDIT CARD NUMBER FIELD
  .row
    .flex.input-field.col.s12.m10.inner-cc-well
      %input{class: "card-number", type: "text", id: "card-number", autocomplete: "off"}
      %label{class: "cc-number-field", for: "card-number"}Card Number (no spaces or hyphens)

  -#EXPIRATION SELECT MENUS
  .row
    = render '/payments/payment_form/cc_expiration_fields'


    -#CVC FIELD
    .flex.input-field.col.s6.m3.l2.inner-cc-well
      %input{class: "card-cvc", type: "text", id: "card-cvc", autocomplete: "off"}
      %label{for: "card-cvc"} CVC
      %a{class:"tooltipped", "data-position": "top", "data-delay": "40", "data-tooltip": "3 digits on the back of your credit card. For Amex, 4 digits on the front"}
        %i{class: "material-icons", id: "live_help"} live_help




  -#SUBMIT BUTTON
  .row.col.s12
    .flex-center
      %button{class: "btn waves-effect waves-light", type: "submit", id: "submitBtn"}
        PAY