-#EXPIRATION FIELDS FOR CC FORM

-#MONTH EXPIRATION FIELD
.flex.input-field.col.s6.l3
  %select
    %option{value:"", disabled: true, selected: true} Month
    %option{value: "01"} 01
    %option{value: "02"} 02
    %option{value: "03"} 03
    %option{value: "04"} 04
    %option{value: "05"} 05
    %option{value: "06"} 06
    %option{value: "07"} 07
    %option{value: "08"} 08
    %option{value: "09"} 09
    %option{value: "10"} 10
    %option{value: "11"} 11
    %option{value: "12"} 12
  %label Expiration Date

-#YEAR EXPIRATION FIELD
.flex.input-field.col.s6.l3.expiry-year
  %select#expiry-year
    %option{value:"", disabled: true, selected: true} Year
    -#GET THE CURRENT YEAR AND SET EXPIRATION VALUES FOR NEXT 20 YEARS
    - (@current_year...@final_year).each do |i|
      %option{value: "#{i}"} #{i}

