-#EXPIRATION FIELDS FOR CC FORM

-#GET THE CURRENT DATE AND SET THE EXPIRATION YEAR FIELD VALUES APPROPRIATELY
:javascript
  function generateExpiryYearRange() {
    var current_year = new Date().getFullYear();
    //var $expiryYearOption = '<option value=900>900</option>'
    //var $expiryYearOption = $('<option>').val('999').text('999')
    //$('select#expiry-year > option').first().append($expiryYearOption);
    //$('select.expiry-year.initialized').append($expiryYearOption);
  }

.flex.input-field.col.s2
  %select
    %option{value:"", disabled: true, selected: true} Month
    %option{value: "01"} 01
    %option{value: "02"} 02
    %option{value: "03"} 03
    %option{value: "04"} 04
    %option{value: "05"} 05
    %option{value: "06"} 06
    %option{value: "07"} 07
    %option{value: "08"} 08
    %option{value: "09"} 09
    %option{value: "10"} 10
    %option{value: "11"} 11
    %option{value: "12"} 12
  %label Expiration Date
.flex.input-field.col.s2.expiry-year
  %select#expiry-year
    %option{value:"", disabled: true, selected: true} Year
    - (@current_year...@final_year).each do |i|
      %option{value: "#{i}"} #{i}

