-#PAYMENT FORM
%form{class: "col s12", id: "payment-form", action: "/api/payments", method: "POST"}

  -#ERROR DISPLAY HANDLING
  .row
    .flex
      #payment-errors.flex.error-message

  -#CREDIT CARD NUMBER FIELD
  .row
    .flex.input-field.col.s6.inner-cc-well
      %input{class: "card-number", type: "text", id: "card-number", autocomplete: "off"}
      %label{for: "card-number"}Card Number (no spaces or hyphens)

  -#EXPIRATION SELECT MENUS
  .row
    .flex.input-field.col.s3
      %select
        %option{value:"", disabled: true, selected: true}
        Choose your option
        %option{value: "01"} 01
        %option{value: "02"} 02
        %option{value: "03"} 03
        %option{value: "04"} 04
      %label Expiration Month
    .flex.input-field.col.s3
      %select
        %option{value:"", disabled: true, selected: true}
        Choose your option
        %option{value: "2024"} 2024
        %option{value: "2023"} 2023
        %option{value: "2022"} 2022
        %option{value: "2021"} 2021
      %label Expiration Year
    -#CVC FIELD
    .flex.input-field.col.s2.inner-cc-well
      %input{class: "card-cvc", type: "text", id: "card-cvc", autocomplete: "off"}
      %label{for: "card-cvc"} CVC
      %a{class:"tooltipped", "data-position": "top", "data-delay": "40", "data-tooltip": "The last 3 digits on the back of your credit card"}
        %i{class: "material-icons", id: "live_help"} live_help

  -#CARD HOLDER NAME
  .row
    .flex.input-field.col.s6.inner-cc-well
      %input{class: "card-holder-name", type: "text", id: "card-holder-name", autocomplete: "on"}
      %label{for: "card-holder-name"}Card Holder Name




  -#SUBMIT BUTTON
  .row
    .flex
      %button{class: "btn waves-effect waves-light", type: "submit", id: "submitBtn"}
        PAY