-#PAYMENT FORM
%form{id: "payment-form", action: "/api/payments", method: "POST"}

  -#ERROR DISPLAY HANDLING
  .flex
    #payment-errors.flex.error-message

  -#CREDIT CARD NUMBER FIELD
  .flex
    %input{class: "card-number", type: "text", id: "card-number", autocomplete: "off"}
    %label Card Number, No Spaces Or Hyphens...

  -#CVC FIELD
  .flex
    %input{class: "card-cvc", type: "text", id: "card-cvc", autocomplete: "off"}
    %label CVC

  -#EXPIRATION DATE FIELD
  .flex
    %input{class: "card-expiry-month", type: "text", id: "card-expiry-month", autocomplete: "off"}
    %label Expiration Month (MM)
    %input{class: "card-expiry-year", type: "text", id: "card-expiry-year", autocomplete: "off"}
    %label Expiration Year (YYYY)

  -#SUBMIT BUTTON
  .flex
    %button{type: "submit", class: "", id: "submitBtn"}
      SEND PAYMENT