-#JAVASCRIPT TO INITIALIZE MATERIALIZE CSS JS COMPONENTS
:javascript
  $(document).ready(function(){

     $('.collapsible').collapsible({
       // CHANGE COLLAPSIBLE BEHAVIOR TO EXPANDABLE INSTEAD OF DEFAULT ACCORDION STYLE
       accordion : false
     });

     //INITIALIZE EXPIRATION DATE DROP DOWN MENUS WITHIN CC FORM
     $('select').material_select();

     //INITIALIZE TOOLTIP ON CVC FIELD WITHIN CC FORM
     $('.tooltipped').tooltip({delay: 40});

     //GET STRIPE JS AND SET PUBLISHABLE KEY
     $.ajax({
       url: "https://js.stripe.com/v2/",
       type: "GET",
       success: function(data){
         console.log('stripe data loaded: ', data);
         Stripe.setPublishableKey('pk_test_16no6ltOTd6l1mneVsRDbpMJ');
         }
      });
  });



-#STOCK RAILS CODE
/ %h1 New Payment
/ = render 'form'
/ = link_to 'Back', payments_path



-#PAYMENT WEB FORM
.payment-options

  -#CREATE ACCORDION FOR PAYMENT OPTIONS
  %ul{class: "collapsible popout", data: {collapsible: "accordion"}}


    -#PAYMENT OPTION 1: CREDIT CARD
    %li
      .collapsible-header.row
        .valign-wrapper
          = image_tag('creditcard-logo.png', class: 'valign creditcard-logo col s3 m2', alt: 'Credit card')
          %p.payment-well-text.valign.col.s10
            PAY WITH CREDIT CARD
            %span.caret ▼
      .collapsible-body
        .row
          = render '/payments/payment_form/cc_form'


    -#PAYMENT OPTION 2: SOFORT
    %li
      .collapsible-header.row
        .valign-wrapper
          = image_tag('sofort-logo.png', class: 'valign sofort-logo col s3 m2', alt: 'Sofort')
          %p.payment-well-text.valign.col.s10
            PAY WITH SOFORT ÜBERWEISUNG
            %span.caret ▼
      .collapsible-body
        .row
          = render '/payments/payment_form/sofort_form'


    -#PAYMENT OPTION 3: PAY PAL
    %li
      .collapsible-header.row
        .valign-wrapper
          =image_tag('paypal-logo.png', class: 'valign paypal-logo col s3 m2', alt: 'PayPal')
          %p.payment-well-text.valign.col.s10
            PAY WITH PAYPAL
            %span.caret ▼
      .collapsible-body
        .row
          .flex-center
            %button{class: "btn waves-effect waves-light", type: "submit", id: "paypal-submit-btn"}
              =image_tag('paypal-payment-btn.png', class: 'paypal-logo', alt: 'PayPal Submit Button')
