// Place all the styles related to the payments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*PAYMENT FORM CSS*/



/*FLEX FOR LAYOUT CONTROL*/
.flex {
  display: flex;
  justify-content: flex-start;
}

.flex-center {
  display: flex;
  justify-content: center;
}

/*MATERIALIZE CSS LAYOUT CONTROL*/
.row {
  margin-bottom: 0px;
}

/*ACCORDION HEADERS*/
.collapsible-header {
  border: 1px solid #8BC34A;
  margin-bottom: 10px;
}


/*BUTTONS*/
button {
  margin-bottom: 10px;
  margin-top: 10px;
}

button#paypal-submit-btn {
  padding-top: 10px;
  padding-bottom: 35px;
}

.btn {
  background-color: #8BC34A;
}

/*ICONS, LOGOS, & TOOLTIPS*/

/*CVC LOGO HELP ICON*/
#live_help {
  margin-left: -20px;
  line-height: 2;
  color: gray;
  cursor: pointer;
}

.paypal-logo, .sofort-logo, .creditcard-logo {
  width: 100%;
}

a.tooltipped:hover {
  background-color: #FFFFFF;
  color: #FFFFFF;
}


/*PAYMENT FORM COMPONENTS*/
input.select-dropdown {
  color: #9e9e9e;
}

.payment-well-text {
  font-family: "GillSans", "Calibri", "Trebuchet", "sans-serif";
  letter-spacing: 0.15em;
  font-size: 1.4em;
  line-height: 110%;

  span.caret {
    font-size: 10px;
    float: right;
  }
}
/*CENTER LABEL FOR SOFORT INPUT SELECT MENU*/
label#sofort-label {
  top: 15px;
}


/* STANDARD MEDIA QUERY BREAK POINTS IF NECESSARY FOR ADDITONAL FUNCTIONALITY */
@media only screen and (min-width: 768px) {
    /* tablets and desktop */

    /* CONSTRAIN WIDTH OF ACCORDION ON LARGE SCREENS */
    .payment-options {
      margin-left: 10%;
      margin-right: 10%;
      max-width: 60%;
    }
}

@media only screen and (max-width: 495px) {
    /* phones */

    /*PREVENT OVERLAP OF LABELS AND INPUT LINES WITHIN CC FORM FOR CARD HOLDER AND CARD NUMBER FIELDS*/
    label.cc-holder-field, label.cc-number-field {
      top: 0.7rem;
      line-height: 13px;
    }
    /*CENTER AND RAISE LABEL FOR SOFORT INPUT SELECT MENU*/
    label#sofort-label {
      top: -14px;
      left: 2.5rem;
    }
}

@-ms-viewport{
  width: device-width;
}