// Place all the styles related to the payments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.payment-options {
  margin-left: 10%;
  margin-right: 10%;
  max-width: 60%;
}

.flex {
  display: flex;
  justify-content: center;
}

.collapsible-header {
  border: 1px solid rgba(0, 128, 0, 0.45);
  margin-bottom: 10px;
}

.inner-cc-well {
  margin-left: 12%;
  margin-right: 12%;
}

button#submitBtn {
  margin-bottom: 10px;
}